body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    background-color: rgba(156, 201, 156, 0.765);
}

h1, p
{
    color: #20205f9f;
    text-align: center;
}

p
{
    margin: 50px 50px 50px 50px;
}

#guessLabel, #attemptsLabel
{
    font-size: 1.4em;
}

#attempts
{
    font-size: 3em;
    margin: 10px 20px 20px 20px;
    padding: 20px 30px 20px 30px;
    background-color: rgb(204, 233, 204);
}

#result
{
    font-size: 2em;
    margin: 10px;
    padding: 10px;

}

.guessBtn
{
    display: inline-block;
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    margin: 5px;
    background-color: rgb(204, 233, 204);
    cursor: pointer;
    border-radius: 50%;
}

.guessBtn:hover
{
    background-color: rgb(153, 204, 153);
    transition:transform 0.5s;
    transform: scale(1.3);
}